body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

.container {
    width: 350px;
    background: white;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.foto {
    width: 150px;
    border-radius: 50%;
}

h1 {
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkgreen;
}

ul {
    list-style: none;
    padding: 0;
}